<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/rsvis/ITG/src/test/java/tests">
        <classes>
            <class name="tests.LoginTestHRM">
                <methods>
                    <include name="testValidLogin"/>
                </methods>
            </class>
            <class name="tests.SauceDemoLoginTest">
                <methods>
                    <include name="testValidLogin"/>
                </methods>
            </class>
            <class name="tests.SauceLabLoginTest">
                <methods>
                    <include name="testValidLogin"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>